form {
  max-width: 500px;
}

.all
{
  margin-right: 50%;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  padding: 0.25rem;
}

.hidden {
  display: none;
}

.page {
  display: grid;
  grid-template:
    "Header Header Header" 40px
    "Sidebar Content Content" 40px
    "Sidebar Content Content" 40px / 1fr 1fr 1fr;
}

.header {
  grid-area: Header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgb(208, 253, 253);
}

.banner
{
  margin: auto;
}

.menu 
{
  grid-area: Sidebar;
  background-color: rgb(179, 180, 180);
  position:relative;
  left:1%;
  margin-right: 50%;
}

.ulmargin
{
  margin-left: 8%;
}

.marginmiddlebold .course
{
  font-weight: bold;
}
.course
{
  font-weight: bold;
}
.marginmiddle
{
  display: flex;
  margin: auto;
  margin-left: 19%;
}
.marginmiddlebold
{
  display: flex;
  margin: auto;
}

.content {
  grid-area: Content;
}

html,
body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(204 205 205);
  /* background-color: rgb(223, 223, 223); */
}